:root {
    --back-color1: #020A18;
    --back-color2: #09111e;
    --title-color: #fff;
    --subtitle-color: #3A68B8;
    --text-color: rgba(255, 255, 255, 0.7);
    --text-color2: rgba(255, 255, 255, 0.6);
    --item-color: rgba(19, 32, 53, 1);
    --item-hover-color: rgba(19, 32, 53, .9);
    --item-shadow: 4px 4px 16px 0px rgba(58, 104, 184, 0.40);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--back-color1);
}
.back__color2 {
    background-color: var(--back-color2);
}

a {
    text-decoration: none;
}

img {
    transition: all .3s;
}


img:active {
    transform: scale(1.2);
}

.center {
    padding-left: calc(50% - (573px + 2vw));
    padding-right: calc(50% - (573px + 2vw));

}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
.footer__flex {
    display: flex;
    justify-content: start;
    gap: 30px;
}
.image__flex {
    display: flex;
    align-items: center;
}
.logos__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


.header__container {
    padding: 0 2vw;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 39px 0;
}

.menu__link {
    color: var(--title-color);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .2s;
}

.menu__link:hover {
    color: var(--subtitle-color);
}

.menu__link:active {
    transform: scale(.9);
}


.top__container {
    padding: 0 2vw;
    padding-top: 160px;
    padding-bottom: 197px;
}

.top__leftbox {
    max-width: 604px;
}

.top__subtitle {
    color: var(--subtitle-color);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

.top__title {
    color: var(--title-color);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
    padding-top: 10px;
}

.top__text {
    color: var(--text-color);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    padding-top: 40px;
    max-width: 558px;
}

.linkbox {
    padding-top: 50px;
    display: flex;
    gap: 20px;
}

.top__link {
    display: flex;
    color: var(--title-color);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--subtitle-color);
    padding: .9375rem 1.875rem;
    transition: all .3s;
}

.top__link:hover {
    color: var(--subtitle-color);
    background: var(--title-color);
    box-shadow: var(--item-shadow);
}

.top__link:active {
    transform: scale(.9);
}

.play__icon {
    margin-right: 10px;
    width: 20px;
}

.play__icon path {
    transition: all .3s;
    fill: var(--title-color);
}

.top__link:hover path {
    fill: var(--subtitle-color);
}

.top__rightbox {
    max-width: 414px;
}

.top__rightbox img {
    width: 100%;
}


.top__logos__container {
    max-width: 100%;
    padding: 0 2vw;
    padding-bottom: 99px;
}
.logo {
    padding-right: 3.5vw;
}

.top__logos img {
    max-width: 294px;
    transition: .3s;
}

.top__logos img:hover {
    filter: brightness(.7);
}


.core__container {
    padding: 0 2vw;
    padding-top: 157px;
}

.core__leftbox {
    width: 594px;
}

.core__leftbox img {
    width: 100%;
}

.core__rightbox {
    width: 484px;
}

.core__title {
    color: var(--title-color);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 52px */
    padding-top: 117px;
}

.core__text {
    width: 460px;
    color: var(--text-color);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
    padding-top: 30px;
}

.core__link {
    display: flex;
    color: var(--title-color);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--subtitle-color);
    padding: .9375rem 1.875rem;
    transition: all .3s;
}
.core__link:hover {
    color: var(--subtitle-color);
    background: var(--title-color);
    box-shadow: var(--item-shadow);
}


.cards__container {
    padding: 0 2vw;
    padding-top: 257px;
}

.cards__item {
    max-width: 362px;
    background-color: var(--item-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
    padding: 30px;
    gap: 30px;
}

.cards__item:hover {
    filter: brightness(1.2);
    box-shadow: var(--item-shadow);
}

.cards__item img {
    width: 98px;
}

.item__title {
    color: var(--text-color);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 31.25px */
}

.item__text {
    color: var(--text-color);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
}

.big__item {
    max-width: 754px;
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.big__item img {
    width: 306px;
}


.bottom__container {
    padding: 0 2vw;
    padding-top: 252px;
    padding-bottom: 210px;
}

.bottom__leftbox {
    width: 548px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom__leftbox .core__title {
    padding: 0;
    padding-bottom: 20px;
}

.bottom__leftbox .core__text {
    padding: 0;
}

.bottom__rightbox {
    width: 573px;
}

.bottom__rightbox img {
    width: 100%;
}


.footer__container {
    padding: 0 2vw;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer__box {
    width: 362px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 9px;
}

.footer__subtitle {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__text {
    max-width: 261px;
    color: var(--text-color2);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
}

@media (max-width: 1023px) {
    .center {
        padding-left: calc(50% - (384px + 2vw));
        padding-right: calc(50% - (384px + 2vw));
    }
    .flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .top__rightbox {
        padding-top: 128px;
    }
    .top__title {
        font-size: 48px;
    }
    .top__subtitle {
        font-size: 16px;
    }
    .top__logos__container {
        padding-bottom: 120px;
    }
    .logo {
        padding-right: 3.7vw;
    }
    .logos__flex {
        gap: 3.7vw;
    }

    .core__title {
        padding-top: 68px;
    }


    .grid {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 32px;
    }
    .extra__item {
        display: none;
    }

    .bottom__leftbox {
        padding: 0;
    }
    .bottom__rightbox {
        padding-top: 64px;
    }
    
    .footer__flex {
        flex-wrap: wrap;
    }
    .footer__box {
        width: 340px;
    }
}