a { text-decoration: none; }

.menu__item {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    transition: all .3s;
}
.menu__item:hover {
    color: green;
}

.page__title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.page__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.page__pretitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}