* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    padding-top: 45px;
    padding-bottom: 89px;
}

main {
    padding-bottom: 162px;
}
.text__box__content {
    margin-bottom: 37px;
}
.text__box__title {
    margin-bottom: 17px;
}

footer {
    padding-top: 97px;
    padding-bottom: 96px;
}
